[2019-10-30 20:31] #185 closed

[2019-10-31 02:04] ckang777 opened #186 "Replacement for DocumentDetector in Version 5.0"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

I've used DocumentDetector to create a custom document scanner. Used it to capture
back image of the US driver license. However,

[2019-10-31 15:06] mparadina commented on #186
Hello @ckang777

The BlinkID SDK available on GitHub is the “light” version that only includes the following recognizers: https://github.com/BlinkID/blinkid-android#-list-of-available-recognizers
In order to obtain the full version that have all the recognizers available (amongst them is the DocumentDetector) please contact us at support@microblink.com.

Kind regards,
Milan

[2019-10-31 15:09] zakblacki opened #187 "How to remove Microblink logo"
I'd like to remove logo appearing 'Microblink' toast when scaning is it possible  ?
I can't find it any class or layout
I have a demo licence

Thanks,

[2019-10-31 16:31] jdruedaq commented on #184
Thanks you, it's works for my

[2019-10-31 16:31] #184 closed

[2019-11-04 14:24] IvaKeresa commented on #187
Hello,

This is the default for all our demo license keys.
Once you set production license keys, this logo is not visible anymore.

Best regards,

Iva

[2019-11-04 14:43] jdruedaq opened #188 "I can't change language in microblink scanner to spanish language."
Is possible change english to spanish language without customUI?

[2019-11-04 15:17] IvaKeresa commented on #188
Hello,

Please check this link for more information:
https://github.com/BlinkID/blinkid-android#-translation-and-localization

Best regards,

Iva

[2019-11-04 19:30] jdruedaq commented on #188
There are an example?

[2019-11-06 11:24] yanganran opened #189 "How to pass camera without autofocus?"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

Issue description goes here.

Please try to provide steps to reproduce the issue, or minimal code sample. It will help us resolve

[2019-11-07 08:23] mparadina commented on #189
Hello @yanganran

Can you please tell me which device are you using?

Also, which recognizers are you using?

For most recognizers, it is mandatory for a device to have autofocus, in order for our SDK to work. Without autofocus, we are unable to get a clear, sharp image on which OCR is performed.

Best regards,
Milan

[2019-11-10 11:20] arishanapalli commented on #110
Terminating app due to uncaught exception 'MBInvalidLicenseKeyException', reason: 'Your license key is invalid! License buffer signature verification failed!'

how to handle if license is invalid or expired in swift 4.2!
How to handle for incense key is invalid? ios side.

[code]

Please let me know the best way to handle license key related crashes!

[2019-11-11 06:31] #188 closed

[2019-11-12 11:20] Saikrishna521 opened #190 "Not getting Commercial code for Hongkong documents"
Hi i'm working on BlinkId latest version 5.0.0 and found that "commercial code" is not getting extracted from the OCR using BlinkIdRecognizer for HongKong front documents.Its looks like commercial code is not sent in the result callback entity for BlinkIDRecognizer.

Device-Samsungs8
Abi-arm64-v8a

Please anyone explain me why the commercial code not sent in the results.I can't find anything in re

[2019-11-21 13:53] Brankacro commented on #110
Hello @arishanapalli,

This looks like the license key expired.
Can you please share the license key that you are using in your app?

Also, the next time if the issue like this occurs, I suggest to contact us directly at support@microblink.com for quicker issue resolution. We can also continue this conversation over email.
Kind regards.

Branka

[2019-11-21 14:00] #132 closed

[2019-12-15 05:41] rajubhusani opened #193 "Can we read "Place of Birth" from Passport in Passport recognizer?"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description
Can we read "Place of Birth" from Passport using Passport recognizer?
Issue description goes here.

Please try to provide steps to

[2019-12-29 20:23] #148 closed

[2020-01-31 15:55] Brankacro commented on #193
Hello @rajubhusani,
sorry for the delay in reply. Regarding your question, unfortunately, the place of birth can not be read with the passport recognizer.
The PassportRecognizer is used for scanning and data extraction from the Machine Readable Zone (MRZ) of the various passport documents. This recognizer also returns face image from the passport.
Please, see on this link what data contains MRZ li

[2020-02-02 07:36] subhashsanghani opened #196 "DexGuard issue with BlinkID"
Hi,

I am using old BlinkID repository.
com.microblink:blinkid:3.18.0@aar

I can not change it now for latest because after this version there is many changes.

Will you help me for following crash generated when we applied DexGuard rules to our app.

**Failed to load required asset 'microblink/model_mrtd.zzip'. Program will now crash!
E/ResourceProvider.cpp:44: Failed to load resource model_mrtd.

[2020-02-04 08:44] matvidako commented on #196
Hi,

it looks like DexGuard has additional optimizations that can remove assets while our SDK requires all assets in microblink folder
We don't have access to DexGuard documentation, I recommend that you ask DexGuard support about this issue.

[2020-02-05 15:52] pratamanidhi opened #198 "how to get fastest result to extract text using BlinkID"
Hi.. i wan to ask about how to get fastest result to get the text from ID card. I'm using indonesian ID card to get the document number. When i tried using BlinkID sample expectially BlinkID-aMinimalSample that i've customize I only get the animation without get any output from Toast or EditText. Thankyou

BlinkID version: v5
Device model: samsung j7 prime
Device Android version: oreo

[2020-02-07 14:30] culoi commented on #190
Hello @Saikrishna521

CCC number is returned with getAdditionalNameInformation property.

Also, in our latest version of the SDK that was released yesterday (BlinkID v5.2.0), you can obtain the localized name with the following property: getLocalizedName.

Please let us know how this works for you.

Regards

[2020-02-07 15:24] culoi commented on #198
Hello @pratamanidhi

If you only need extract document number, you can set the returning of the document number.

For example, in the aMinimalSample, you can edit result processing and switch from the returning of the [getFullName](https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/BlinkID-aMinimalSample/src/main/java/com/microblink/blinkid/MainActivity.java#L68) to [getDocumentN

[2020-02-13 16:10] Farbklex opened #199 "Is overwriting lifecycle methods for a custom UI still necessary?"
In the readme you write under the section [Custom UX with RecognizerRunnerView](https://github.com/BlinkID/blinkid-android/blob/master/README.md#-custom-ux-with-recognizerrunnerview) that we should overwrite our lifecycle methods.

Is this still true or can we instead use the `setLifecycle` method? It looks like it already takes care of calling the right lifecycle methods for us.

Using a lifecyle

[2020-02-13 17:44] matvidako commented on #199
Hi,

you are right, you can just use `setLifecycle`.
Thanks for reporting it, we forgot to update readme after adding the new method.

[2020-02-18 04:17] galang98 commented on #198
Can you help me, when I tried to scan ID Card (Indonesian) that have Date Of Expiry is "Seumur Hidup". It doesn't scan :( . it is because of Date Of Expiry data type must be a date type ?

[2020-02-19 11:50] culoi commented on #198
Hello @galang98

In this case, I suggest that you use v4 of our BlinkID SDK which is available for the download here: https://github.com/BlinkID/blinkid-android/releases/tag/v4.11.1

And to set IndonesiaIdFrontRecognizer instead of the BlinkIdRecognizer.

In the v5 of our BlinkID SDK, this type of the ID card (with "Seumur Hidup" as expiry date) is not supported yet and we will support it in one o

[2020-02-21 08:28] Rina2001 opened #200 "Can't open camera with Device that only back facing camera"
Hello team,
   When i use the sdk with device have only back facing camera , the camera is not open.
  I try set camera type to default type. it's still not work.

  Do you have any solution for this issue ?

[2020-02-21 10:30] eddieMicroblink commented on #200
Hello,
Could you please provide us some more details about the device you're using?
Since there is only one camera, it might actually be classified as frontside,
you can try changing the settings the following way:
https://blinkid.github.io/blinkid-android/com/microblink/uisettings/CameraSettings.Builder.html#setType-com.microblink.hardware.camera.CameraType-

[2020-02-24 02:19] Rina2001 commented on #200
I use wizarPOS Q2 device. I already set camera setting , But It seem like error like previous time.
The error : ` E/RecognizerRunnerView.java:501@Camera1: Exception caught on camera startup
    java.lang.RuntimeException: Fail to connect to camera service`.

[2020-02-25 10:19] culoi commented on #200
Hi @Rina2001

I suggest that you test with our DirectAPI sample that has a custom camera solution.
https://github.com/BlinkID/blinkid-android/tree/master/BlinkIDSample/BlinkID-DirectApiSample

Maybe this will resolve the issue with connecting to camera service.

Regards,

Ivan

[2020-02-25 13:56] Rina2001 commented on #200
Dear Ivan
    Let me try run test with your sample API
Best regard,
Rina

[2020-02-26 06:33] Rina2001 commented on #200
Ok , it's worked, thank you.

[2020-02-26 06:33] #200 closed

[2020-03-25 14:23] #199 closed

[2020-03-25 14:45] Brankacro commented on #198
Hello @galang98

We wanted to follow up on our last communication.
Have you managed to resolve your issue?
If you need any assistance from our side, please let us know. You can always contact us directly at
support@microblink.com

Best regards.

[2020-03-25 14:51] Brankacro commented on #196
Hello @subhashsanghani

Hope everything goes well.
Did you resolve your issue in the meantime?
In case of additional questions, please let us know. You can always contact us directly at
support@microblink.com

Best regards.

[2020-03-25 14:59] Brankacro commented on #189
Hello @yanganran

We are closing this as this is inactive. If you want to reopen the issue, please let us know.
Best regards.

[2020-03-25 14:59] #189 closed

[2020-03-25 15:35] Brankacro commented on #190
Hello @Saikrishna521

Hope you resolved your issue. If you need any additional assistance from our side, please let us know.
You can always contact us directly at support@microblink.com

Best regards.

[2020-03-25 15:53] Brankacro commented on #187
Hello @zakblacki

We wanted to follow up.
In case you have any additional questions, please let us know.
You can also contact us directly at support@microblink.com

Best regards.

[2020-03-25 16:56] Brankacro commented on #186
Hello @ckang777

We are closing this as this is inactive. Please let us know in case of any additional questions.
Also, you can always contact us directly at support@microblink.com
We will gladly resolve all your questions and doubts.

Best regards.

[2020-03-25 16:56] #186 closed

[2020-03-25 17:07] Brankacro commented on #182
Hello @Nalbornoz

Sorry for not responding earlier. Please let us know if this is still an open issue for you.
You can also contact us directly at support@microblink.com
We would be more then glad to resolve all your questions and doubts.

Best regards.

[2020-03-25 17:59] Brankacro commented on #176
Hello @suhassimpragma,

We are closing this issue, as this is inactive. If you want to reopen it, or if you have any additional questions, please let us know.
You can also contact us directly at support@microblink.com

Best regards.

[2020-03-25 17:59] #176 closed

[2020-03-25 18:02] Brankacro commented on #175
Hello @Nalbornoz,

We are closing this as this is inactive.
In case of any questions, please let us know. You can also contact us directly at support@microblink.com We will be more than glad to assist you.

Best regards.

[2020-03-25 18:02] #175 closed

[2020-03-25 18:07] Brankacro commented on #174
Hello @rsimikic,

We are closing this as this is inactive. In case of any questions, please reopen it or you can always contact us directly at support@microblink.com

Best regards

[2020-03-25 18:07] #174 closed

[2020-03-26 08:28] Brankacro commented on #177
Hello @damienlo,

We enabled setting MrzFilter on MrtdCombinedRecognizer with the version 5.2.0.
https://github.com/BlinkID/blinkid-android/blob/master/Release%20notes.md#520

Please let us know if we can be of any help. You can always contact us directly at support@microblink.com

Best regards.

[2020-03-26 10:32] damienlo commented on #177
![Woohoo](https://media.giphy.com/media/xT5LMQ8rHYTDGFG07e/source.gif)

Looks great. thanks!

[2020-03-26 10:32] #177 closed

[2020-03-26 10:49] Brankacro commented on #173
Hello @phanikumar560,

As this is inactive, please let us know if you are having any issues. You can also contact us directly at support@microblink.com

Best regards.

[2020-03-26 12:46] Brankacro commented on #170
Hello @rajubhusani,

Please let us know if we can be of any help. Also, you can always contact us directly at support@microblink.com

Best regards.

[2020-03-26 12:49] Brankacro commented on #169
Hello,

Please let us know if you are having any issues. We will be glad to help.
You can always contact us directly at support@microblink.com

Best regards.

[2020-03-26 12:53] Brankacro commented on #167
Hello @techvedikasolutions,

We wanted to check if you need any assistance from our side. In case of any questions, please let us know. You can also contact us directly at support@microblink.com

Best regards.

[2020-03-26 12:56] Brankacro commented on #161
Hello @xenixottodigital,

Hope everything works fine. If you still have any issues or questions, please let us know.
You can also contact us directly at support@microblink.com

Best regards.

[2020-03-26 13:02] Brankacro commented on #155
Hello @damienlo,

Please let us know if you still have any issues or questions. Also, feel free to contact us directly at support@microblink.com

Best regards.

[2020-03-27 20:21] Brankacro commented on #153
Hello @rsimikic,

We are closing this as this is inactive. If you have any questions please reopen it.
Also, feel free to contact us directly at support@microblink.com
Best regards.

[2020-03-27 20:21] #153 closed

[2020-03-27 20:23] Brankacro commented on #139
Hello @Stockholmm,

We are closing this, as it is inactive. In case of any questions, feel free to contact us. Also, you can always contact us directly at support@microblink.com
Best regards.

[2020-03-27 20:23] #139 closed

[2020-03-27 20:35] Brankacro commented on #134
Hello Victor,

As this is inactive, we are closing it. In case of any questions, feel free to reopen it, or contact us directly at support@microblink.com
We will be more than glad to help.
Best regards.

[2020-03-27 20:35] #134 closed

[2020-03-27 20:44] Brankacro commented on #130
Hello,

As this is inactive we are closing it. In case of any questions, please reopen it or contact us directly at support@microblink.com
We will be more than glad to help.
Best regards.

[2020-03-27 20:44] #130 closed

[2020-04-03 23:43] #187 closed

[2020-04-07 09:19] neha-eng opened #203 "How do i remove the logo of Microblink"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

Issue description goes here.

Please try to provide steps to reproduce the issue, or minimal code sample. It will help us resolve

[2020-04-07 09:27] i1E commented on #127
Hello @dhruvi1kosmos,

Hope everything works fine now. If you still have any issues or questions, please let us know.
You can also contact us directly at support@microblink.com

Best regards.

[2020-04-07 09:57] mparadina commented on #203
Hi @neha-eng

The logo is part of our demo license key.
It is removed once the user purchases the production license key.

To purchase the production license key, you can always contact our Sales Team at sales@microblink.com

If you have any further questions, feel free to ask.

Regards,
Milan

[2020-04-10 06:37] neha-eng opened #204 "How can i save the scanned image to a folder in my gallery."
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

Issue description goes here.

Please try to provide steps to reproduce the issue, or minimal code sample. It will help us resolve

[2020-04-10 07:26] mparadina commented on #204
Hi @neha-eng

In the BlinkID samples folder, you have an ImagesSample folder. This sample is made with an intent to save the scanned images to external storage. You can see the example here:

https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/BlinkID-ImagesSample/src/main/java/com/microblink/blinkid/MainActivity.java#L38

Hope this helped. If you have come across any difficulties

[2020-04-10 13:17] AndriiKarpenko opened #205 "Switch BlinkIdCombinedRecognizer to the back side manually"
I'm trying to use BlinkIdCombinedRecognizer with DirectApi.
But don't understand how to switch recognizer to the back side?

I've implemented
`
metadataCallbacks.setFirstSideRecognitionCallback(() -> {
     Toast.makeText(context, "FINISHED!", Toast.LENGTH_LONG).show();
});
`

But after getting the callback, the recognizer keeps recognizing only the front side.

**BlinkID version: 5.2.0

[2020-04-10 13:25] culoi commented on #205
Hello @AndriiKarpenko

DirectAPI is designed to work on the single image. It will not work for the combined recognizer as recognition will work only on the first image that is detected.

Which document are you trying to scan?

Regards

[2020-04-10 13:27] AndriiKarpenko commented on #205
Hello @culoi! It's Germany Id Card

[2020-04-10 13:35] culoi commented on #205
Hi @AndriiKarpenko

And both side scan is required? Which info do you need to extract from the Germany ID?

Regards

[2020-04-10 13:38] AndriiKarpenko commented on #205
According to our UI:
1) User should scan the first side of the document;
2) After getting the results user checks photo's quality of the front side on a separate Activity
3) After that app starts scanning the back side of the document.
4) After getting the results user checks photo's quality of the back side on a separate Activity

How can I implement this flow?
As I understand, I'm limited by usi

[2020-04-10 13:40] AndriiKarpenko commented on #205
I was able to make it with 4th version, but 5th version completely broke our flow :(

[2020-04-10 13:44] culoi commented on #205
Hi @AndriiKarpenko

We also do have v5 of the SDK with all the features from v4, but is distributed via dashboard. Please register to our dashboard (www.microblink.com/signup) and contact us directly with your email to support@microblink.com

Regards

[2020-04-12 21:19] nanaluz commented on #205
#

[2020-04-12 22:13] nanaluz commented on #204
#205

[2020-04-13 13:40] nanaluz commented on #205
#205

[2020-04-13 13:41] nanaluz opened #206 "#205"
#205

_Originally posted by @nanaluz in https://github.com/BlinkID/blinkid-android/issues/205#issuecomment-612902941_

[2020-04-13 13:41] #206 closed

[2020-04-17 06:52] neha-eng commented on #204
Hi @mparadina
Thankyou for help!
But how do I save it to my gallery

[2020-04-17 11:30] mparadina commented on #204
Hi @neha-eng

In your ImagesSample, you have the following methods to store the images to an image folder:

This is the method to store the scanned images to your images folder:
https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/BlinkID-ImagesSample/src/main/java/com/microblink/blinkid/MainActivity.java#L127-L201

Also, this is the method that stores the images and creates the im

[2020-04-19 04:48] subhashsanghani commented on #196
Thanks for your reply. Issue still not solved. it crashed while we apply dexguard. We tried all provided solutions of dexguard but still same issue.

[2020-04-19 04:48] #196 closed

[2020-04-27 07:49] Brankacro commented on #203
Hi @neha-eng
Hope that info was helpful. We will solve this issue. If you will have any questions, feel free to ask.
You can always contact us directly at support@microblink.com
Best regards,
Branka

[2020-04-27 07:49] #203 closed

[2020-04-27 08:03] Brankacro commented on #198
Hello @galang98

As this issue is inactive we will close it. If you want to reopen the issue, please let us know.
In case of any questions, you can always contact us directly at support@microblink.com
We'll be glad to help.
Best regards,

Branka

[2020-04-27 08:03] #198 closed

[2020-04-27 08:12] Brankacro commented on #170
Hello @rajubhusani

As this issue is inactive, we will close it. In case of any questions or doubts, please let us know.
Also, do not hesitate to contact us directly at support@microblink.com We will gladly assist you.

Best regards,
Branka

[2020-04-27 08:12] #170 closed

[2020-04-27 08:19] Brankacro commented on #204
Hi @neha-eng

Hope you resolved your issue and that everything works fine.
We will close the issue for now, but let us know if you want to reopen it.
For any further questions, do not hesitate to contact us. Also, feel free to contact us directly at support@microblink.com We will gladly assist you.

Best regards,

Branka

[2020-04-27 08:19] #204 closed

[2020-04-27 08:46] Brankacro commented on #182
Hello @Nalbornoz

As this issue is inactive, we will close it. Feel free to contact us directly at support@microblink.com for any questions you may have.
We will gladly assist you.

Best regards,

Branka

[2020-04-27 08:46] #182 closed

[2020-04-27 08:53] Brankacro commented on #169
Hello,

As this issue is inactive, we will close it.
For any questions you may have, feel free to contact us. Do not hesitate to contact us directly at support@microblink.com We are always glad to help.

Best regards,

Branka

[2020-04-27 08:53] #169 closed

[2020-04-27 09:03] Brankacro commented on #205
Hello @AndriiKarpenko

As this issue is inactive, we will solve it.
For any further questions, please contact us directly with your e-mail to support@microblink.com We will be more than glad to assist you.

Best regards,

Branka

[2020-04-27 09:03] #205 closed

[2020-04-27 09:08] Brankacro commented on #161
Hello @xenixottodigital

As this issue is inactive, we will close it.
For any questions you may have, do not hesitate to contact us. Also, feel free to contact us directly at support@microblink.com We will gladly assist you.

Best regards.

[2020-04-27 09:08] #161 closed

[2020-04-27 09:57] Brankacro commented on #173
Hello @phanikumar560

As this issue is inactive, we will close it.
In case of any questions, feel free to contact us. As said before, you can always contact us directly at support@microblink.com We will be glad to help.

Best regards.

[2020-04-27 09:57] #173 closed

[2020-04-27 10:02] Brankacro commented on #193
Hello @rajubhusani

As this issue is inactive, we will close it. In case of any questions or doubts, feel free to contact us.
Also, you can contact us directly at support@microblink.com We will be more than glad to help.

Best regards.

[2020-04-27 10:02] #193 closed

[2020-04-27 10:05] Brankacro commented on #190
Hello @Saikrishna521

As this issue is inactive, we will close it. For any questions, feel free to contact us, here or directly at support@microblink.com We will be more than glad to help.

Best regards.

[2020-04-27 10:05] #190 closed

[2020-04-27 10:09] Brankacro commented on #167
Hello @techvedikasolutions

As this issue is inactive we will close it. In case of any questions, feel free to contact us. As said earlier, you can also contact us directly at support@microblink.com We will gladly assist you.

Best regards.

[2020-04-27 10:09] #167 closed

[2020-04-27 10:18] Brankacro commented on #155
Hello @damienlo

As this issue is inactive, we will close it. In case of any questions or additional assistance, please let us know. We would be more than happy to help.

Best regards.

[2020-04-27 10:18] #155 closed

[2020-04-27 10:22] Brankacro commented on #127
Hello @dhruvi1kosmos

As this issue is inactive, we will close it. For any questions, feel free to contact us here or directly at support@microblink.com
We would be more than happy to help.

Best regards.

[2020-04-27 10:22] #127 closed

[2020-06-02 14:42] damienlo opened #211 "FrameGrabberRecognizer + BlinkIdCombinedRecognizer = issue scanning the SECOND_SIDE of a document"
### Description

I am trying to use a combination `FrameGrabberRecognizer` + `BlinkIdCombinedRecognizer`
I am using a French National ID for my tests

Expected:
When `BlinkIdCombinedRecognizer` is the only recognizer, it calls `onScanningDone` after both side were scanned.

Actual:
When the recognizer bundle is `FrameGrabberRecognizer` + `BlinkIdCombinedRecognizer`:
`onScanningDone` is called as s

[2020-06-03 06:07] matvidako commented on #211
Hi,

in 5.2.0 we support only front side scanning for French ID. You'll need to update to at least 5.3.0 to scan the back side.
You can check the full list of supported documents [here](https://github.com/BlinkID/blinkid-android/blob/master/documentation/BlinkIDRecognizer.md).

[2020-06-03 09:55] zahinsarif opened #212 "How to get cropped face on MyKad?"
Hi, I trying to get cropped face on MyKad. I already make some research and read this https://github.com/BlinkID/blinkid-android/issues/89. But no clue at all. Can you give example code for it? Thank you.

[2020-06-03 10:54] matvidako commented on #212
Hi,

you just need to call `setReturnFaceImage(true)` on your recognizer object.
You can see an example for `BlinkIdCombinedRecognizer` in [images sample app](https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/BlinkID-ImagesSample/src/main/java/com/microblink/blinkid/MainActivity.java).

[2020-06-03 11:53] damienlo commented on #211
Updating to 5.4 almost fixed my problem :/

I can scan both side, but I am not receiving any OCR data.
It only happens when I have a specific scanning region set.

That issue is reproductible with the `CustomCombinedSample` app
You can find a modified version of that sample app with the said bug here :

https://gist.github.com/damienlo/c88b1181d9c7aaaa29721931484f8659

[2020-06-03 13:37] matvidako commented on #211
Hi,

thanks for providing the code.
Unfortunately, `BlinkIDRecognizer` currently does not support ocr point detection.

Can you tell me why do you need this feature?

[2020-06-04 04:29] #212 closed

[2020-06-19 10:47] phanikumar560 opened #214 "Suggest us an application to be used for our requirements in blink ID android"
Hi Team,
We have used blink id UI Android for our project for the below requirements.Since we got an update that blink ID UI android is no longer updated with latest versions, so we want to move our project to blink ID android.
**Requirements** :
Scan Passport of all the countries and should return all the field values along with image base64 content.
Scan Emirates ID of United Arab Emirates and s

[2020-06-19 11:33] mparadina commented on #214
Hi @phanikumar560

From version 5.5 (currently, the latest version) of BlinkID, we've added the support of reading passport and traveling visa documents in the BlinkID recognizer, so you can use the BlinkIDCombinedRecognizer for both passport and Emirates ID scanning.

Regarding the Custom UI, we recommend trying the BlinkID-CustomUISample, where you can use your own custom overlay for the scannin

[2020-06-26 12:16] passid2019 opened #215 "Camera fails to resume after multiple onPause, and shows black screen."
### Description

Camera fails to resume after onPause, shows black screen. This issue is also on live microblink vision app on the store. The camera will resume only if onPause and OnResume was triggered again by locking and unlocking the phone, or by activity restarted.

### Environment Details

**BlinkID version: 5.5.0

**Device model: Samsung A70

**Device Android version: 10

[2020-06-26 12:18] m-movo opened #216 "Support for arabic documents"
Is their planned support for arabic text in arabic documents ex. Egypt ID.

[2020-06-26 12:25] SandraKuzmic commented on #215
Hi,

It would help if You could explain the problem a little, can You send us steps to reproduce the bug on the Microblink Vision app?

Best regards,
Sandra

[2020-06-27 05:28] passid2019 commented on #215
Hey Sandra,
Steps to reproduce:
1- Open Microblink Vision app
2- Choose worldwide documents.
3- When the camera starts previewing, lock the phone.
4- Unlock the phone.

Expected
Camera should resume preview, and starts scanning.

Actual
Camera displays a black screen and doesn't resume unless we lock and unlock the phone again, Sometimes it takes multiple times of locking and unlocking and sometim

[2020-06-29 07:40] mparadina commented on #216
Hi @passid2019

We currently do not know when you will we support Arabic letters.
However, we have it on our roadmap, but unfortunately, we can't give you an exact date when will we support it.

Also, if it is of any help, we read the document number and personal ID number for the front side and the date of issue, date of expiry, and the ID number from the backside of the Egypt ID.

Let me know if

[2020-06-29 08:00] matvidako commented on #215
Hi,

thanks for the repro steps.
We can't reproduce it exactly like you do but we've managed to reproduce it by letting the screen timeout and then unlocking it.
We'll let you know when we fix it.

[2020-07-01 12:20] phanikumar560 opened #217 "Suggestion on passport recognizer in blinkID android"
Hi Team,

We have below requirements.
Scan Passport of all the countries and should return all the field values along with image base64 content.
Scan Emirates ID of United Arab Emirates and should return all the field values along with image base64 content.

So we have opted for BlinkID-CustomCombined Sample.
If we use passport recognizer in this project scanning itself is not happening. Could you

[2020-07-01 12:47] matvidako commented on #217
Hi Phani,

PassportRecognizer is a recognizer that expects face image and mrz on a single document side while MrtdCombined recognizer first scans face image and then reads mrz.
The sample you're using is designed to support combined case, scanning front side and then scanning back side.
As for performance, they should be about the same.

Have you tried using BlinkIdCombinedRecognizer with our defa

[2020-07-01 13:06] phanikumar560 commented on #217
Hi Team,
Thanks for the update.
Our project is developed in Kony. So we create .aar files from sample project and integrate with kony.
when we tried with the BlinkIdCombinedRecognizer in the sample project it is working fine. But when integrated with main project passport scan is not happening. But in the same place emirates ID is placed scanning is happening.
Could you suggest us are we missing a

[2020-07-01 13:21] matvidako commented on #217
Hi,

if you're using BlinkIdCombinedRecognizer make sure that you update to BlinkID 5.5. Older versions do not support passports.

[2020-07-01 13:50] phanikumar560 commented on #217
Hi Team,

I have upgraded to v5.5.0.
The same code works for Emirates ID scan.But passport is not scanned when integrated in our application.

Can we use passportRecognizer in BlinkID-customCombined sample app?

Thanks
Phani

[2020-07-01 14:03] mparadina commented on #217
Hi @phanikumar560

Do you get any kind of warning message when you try to scan the passport?
Also, do you get any kind of exceptions or nothing happens?

Regards,
Milan

[2020-07-01 14:20] phanikumar560 commented on #217
Hi,

I didn't get any warning message while using passportRecognizer.

Thanks
Phani

[2020-07-02 07:08] mparadina commented on #217
Hi @phanikumar560

Can you please contact us directly at support@microblink.com so that we can inspect the license key that you are currently using in your project?
There is a chance that certain rights may not be enabled in your license key, thus resulting in unsuccessful scans with the passport.

Regards,
Milan

[2020-07-02 07:13] phanikumar560 commented on #217
Hi Team,

Any update on how to use passport recognizer in BlinkID-CustomCombinedSample app.
I am not getting any errors in the application but when we try to scan the passport it is not happening.
/////////------COde snippet- starts--------//////
package com.microblink.blinkid;

import android.app.Activity;
import android.content.Intent;
import android.graphics.Bitmap;
import android.os.Bundle;
im

[2020-07-02 09:22] culoi commented on #217
Hi @phanikumar560

As Matej mentioned above, CustomCombined will not work with the PassportRecognizer as it is made to work only with CombinedRecognizer, and it is expecting front and the back side of the document. From the passport, we only scan front side.

However, as BlinkIdCombined from version 5.5.0 support scanning of the passport internally, you can use the BlinkIdCombinedRecognizer to sca

[2020-07-07 08:20] phanikumar560 commented on #217
HI Team,

Thanks a lot for the solution.

We have two screens one for scanning passport and the other for scanning emirates ID.

The problem is can we have to restrict the Emirates ID scan in passport scanning screen
and vice versa.

Please provide us solution for this.?

Thanks
Phani

[2020-07-07 08:33] i1E commented on #217
Hi @phanikumar560,

Instead of using `BlinkIdUISettings`, you should use [`DocumentVerificationUISettings`](https://github.com/BlinkID/blinkid-android#-documentverificationuisetting) to get the same UI as in the Custom combined sample.

[2020-07-07 08:46] phanikumar560 commented on #217
Hi Team,
Is there any solution for this issue?
**https://github.com/BlinkID/blinkid-android/issues/217#issuecomment-654683246**

Thanks
Phani

[2020-07-07 09:01] i1E commented on #217
Hi @phanikumar560,

you should set the classFilter on the `BlinkIdCombinedRecognizer` by using [BlinkIdCombinedRecognizer.setClassFilter](https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/generic/BlinkIdCombinedRecognizer.html#setClassFilter-com.microblink.entities.recognizers.blinkid.generic.ClassFilter-) method. ClassFilter is used to filter out documents, bas

[2020-07-22 09:25] phanikumar560 commented on #217
Hi Team,
Could you please provide us the information on the document code of the UAE Emirates ID card & passport.

For Example :
 String DocumentCode=mrzResult.getDocumentCode().toString();

Just want to confirm that DocumentCode for all emirates IDs will be same and the value is "IL". Could you please confirm?
Just want to confirm that DocumentCode for all passport will always start with "P". Cou

[2020-07-22 09:40] matvidako commented on #217
Hi,

if you just want to check document type, you can use [getDocumentType](https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/mrtd/MrzResult.html#getDocumentType--) method.
For ID it should be set to `MRTD_TYPE_IDENITY_CARD` and for passport to `MRTD_TYPE_PASSPORT`.

Or do you need something else?

Regards,
Matej

[2020-07-22 09:53] phanikumar560 commented on #217
Hi
I don't want to check document type.
I Want to get documentCode for UAE emirates ID. When we scanned for some of the UAE IDs it is returning "IL" as a code will that be constant across all UAE emirates ID cards??

Thanks
Phani

[2020-07-22 11:07] matvidako commented on #217
Hi,

there are 2 very similar looking but different documents,
resident ID card - always has "IL" document code, and ID card - always has "ID" document code.

[2020-07-22 11:40] matvidako commented on #217
@phanikumar560
update:
resident ID card can also have "IR" document code.

In general, according to MRTD standard, all letters except V and P are allowed after I
so you should double check official documentation for the documents you are scanning.

[2020-07-22 15:06] phanikumar560 commented on #217
Hi Team,

Is there a way where we have to restrict the scanning when other document is placed instead of UnitedArabEmiratesFront and UnitedArabEmiratesBack ID cards just like the old UnitedArabEmiratesFrontRecognizer & UnitedArabEmiratesBackRecognizer does?

We felt getting the documentCode and comparing with "IL" will solve our purpose.. So we just need
documentCode values for only UnitedArabEmir

[2020-08-03 12:01] eddieMicroblink commented on #217
Hi @phanikumar560

You can use ClassFilter to decide which documents you want to scan.
Please take a look at the [documentation](https://blinkid.github.io/blinkid-android/index.html?com/microblink/entities/recognizers/blinkid/generic/ClassFilter.html)
You will be able to filter documents by country, region and document type.

Regards,
Edhem

[2020-08-03 12:07] eddieMicroblink commented on #216
Hi @passid2019

Just a quick follow-up on this, have you been able to extract the aforementioned data?
You can also use MrtdRecognizer to retrieve data from documents with MRZ.

Regards,
Edhem

[2020-08-03 12:13] eddieMicroblink commented on #211
Hi @damienlo

Just a quick follow-up on this, are you still experiencing the previously mentioned issues?

Regards,
Edhem

[2020-08-03 18:24] MKevin3 opened #220 "Methods that return NULL are flagged as @NonNull which annoys Kotlin"
@NonNull
        public final BarcodeResult getBarcodeResult() {
            long var1;
            return (var1 = barcodeResultNativeGet(this.getNativeContext())) != 0L ? new BarcodeResult(var1, this) : null;
        }

This method is flagged as @NonNull but you can easily tell it returns a null making it not friendly to Kotlin. The code could use an update to make it more Kotlin friendly

[2020-08-04 06:45] matvidako commented on #220
Hi,

thanks for reporting this, we'll update it in the next release.

[2020-08-04 14:51] mikeberlin commented on #220
Awesome, thank you! Really appreciate the quick reply. Two follow up questions:

1. There are several methods marked @NonNull but return null (not just the one instance above), will all of those be addressed in the next release? Hopefully so and not just this single method.

2. When is the next release scheduled for?

[2020-08-05 12:46] phanikumar560 opened #221 "Support for birth certificate"
Hi Team,

Could you please let us know whether micro blink is having support for birth certificate in android & ios?

We have a requirement to scan the date of birth certificate capture it and send the base 64 of that captured image.

Kindly let us know the above scenario is possible with the microblink?

Thanks
Phani

[2020-08-06 07:28] matvidako commented on #220
Hi,

1. we've found and fixed couple of similar cases in various recognizer classes. Have you seen the same issue in other classes?
2. 5.7 is scheduled to be released in 2 weeks.

[2020-08-06 07:38] matvidako commented on #221
Hi,

please contact us directly at support@microblink.com and we'll help.

Thanks

[2020-08-11 10:09] ChethanYoti opened #222 "Option to set specification in MrtdCombinedRecognizer"
Hi Team,

With the `MrtdRecognizer`, we can set the specification to recognise only MRTD type3 documents with the help of `MRTD_SPECIFICATION_TD3`. But with the `MrtdCombinedRecognizer` we don't have  option to set such specification. In `MrtdCombinedRecognizer` is there any way to recognise only MRTD type3 document. If its not available it will be great if you provide an option to set the specifi

[2020-08-11 10:31] mparadina commented on #222
Hi @ChethanYoti

Can you please tell me which documents are you trying to scan?

Regards,
Milan

[2020-08-11 10:31] ChethanYoti commented on #222
Passport

[2020-08-11 10:40] mparadina commented on #222
Hi @ChethanYoti

Our recommendation for scanning passports is using the BlinkID recognizer since we've added support for reading travel visas and passports from version 5.5.
Or another option is using the PassportRecognizer.

The MRTD combined recognizer wasn't specifically designed for reading passports since the MRZ (on passports) is located on the front side. It was designed for documents which

[2020-08-17 20:28] MKevin3 commented on #220
I see you changed this in 5.7 to not return NULL but to throw an exception instead. Still leaves me with a try / catch block instead of a null check. Is this the pattern I can expect to find in the rest of the library?

[2020-08-18 06:07] matvidako commented on #220
We're deliberately throwing unchecked exception because we don't want you to try and catch it.
The case when we throw an exception can only happen if there is a serious bug in our code (results would be completely useless)  so rather than hiding it by returning null, we're throwing an exception.

In other places in our SDK, we have something similar, throwing `IllegalArgumentsException` if you pas

[2020-08-22 03:52] raymondgitonga opened #224 "Remove Action Bar"
Hi Team,

Am trying to customise the scanning fragment, id like it not to have a top bar like the demo app, however when i remove the top bar from the manifest ot Themes, nothing happens. Kindly advice.

Thank you

[2020-08-22 04:12] #224 closed, assigned to nobody

[2020-08-30 17:28] passid2019 commented on #216
@eddieMicroblink We extracted only the data that was mentioned above by @mparadina, but we couldn't extract the info that we asked about as it's not supported yet. As for MRZ that document we are after doesn't contain MRZ.

[2020-09-07 14:15] mparadina commented on #222
Hi @ChethanYoti

Just following up on this thread.

Did you try using the BlinkID recognizer?
Did you get the expected results?

Regards,
Milan

[2020-09-07 14:23] ChethanYoti commented on #222
Yeah..its working Milan:)

[2020-09-07 14:23] #222 closed

[2020-09-20 09:48] Morteza-Rastgoo opened #225 "How to implement Built-in fragment (RecognizerRunnerFragment) in a fragment (using android navigation components)?"
In the readme there is a sample for Built-in fragment (RecognizerRunnerFragment) that is implementing fragment inside activity.
If I want to use it in a fragment what should I do?

[2020-09-21 10:21] hossein114 commented on #215
It also rises in the scanning page we get a phone call, so when we come back to the scan page we see a dark page.

[2020-09-22 06:46] SandraKuzmic commented on #225
Hi @Morteza-Rastgoo

the current version of BlinkID SDK does not support this completely. In order to make it work you have to implement `RecognizerRunnerFragment.ScanningOverlayBinder` in your Activity and create a public method where you will initialize `RecognizerRunnerFragment` like this
[code]
This method should be called from your fragment `((YourActivity)requireActivity()).initRecognizerRun

[2020-09-22 06:54] Morteza-Rastgoo commented on #225
Thanks for your fast response.
I'd problems with that approach as the activity should be involved in the current fragment's logic and should implement listeners to listen to the results.
So, It would be great to change the functionality to support for fragments alone and leave the activity out of this process.

[2020-09-22 07:12] SandraKuzmic commented on #225
Hi @Morteza-Rastgoo

yes, you are right and we are sorry for the issue. We will let you know as soon as it will be fixed, unfortunately, we can't fit it in our next release (v5.8.0), but it will be selected for one of the future releases.

Best regards,
Sandra

[2020-09-22 07:44] Morteza-Rastgoo commented on #225
Thank you!
it would be great.

[2020-09-23 09:46] bedirguven opened #226 "Getting issue when running unit tests in project after implementing Blink ID"
Hi,

I am getting '**Could not initialize class com.microblink.MicroblinkSDK**' when running unit tests in project after implementing Blink ID. I setted licence key in Application class. I researched before writing here but there is no information anywhere about that.

### Environment Details

**BlinkID version: 5.7.0

[2020-09-23 10:32] SandraKuzmic commented on #226
Hi @bedirguven

can you send us a code snippet of the test that you are trying to run so we can reproduce the issue?

Best regards,
Sandra

[2020-09-23 11:01] bedirguven commented on #226
Hi @SandraKuzmic

There is no related unit test about this situation. When i initialize blink id with licence key, 64 unit tests getting crash. If i don't add blink id to my application class , all test are passed correctly.

![image](https://user-images.githubusercontent.com/9843234/94004320-2f1bbe80-fda5-11ea-9b72-bc1faba64180.png)

![image](https://user-images.githubusercontent.com/9843234/9400

[2020-09-23 11:18] SandraKuzmic commented on #226
Hi @bedirguven

did you try setting the license key in the `@Before` method of your tests?

Best regards,
Sandra

[2020-09-23 11:55] bedirguven commented on #226
Hi

Yes i tried this.Also this is not a solution for this situation.Because i am using blink id for one fragment but unit tests getting crash for not releated 64 class.

[2020-09-23 12:30] SandraKuzmic commented on #226
Hi,

I tryed running some tests in minimal sample app that uses BlinkID and there were no problems with test execution. Can you create and send us your minimal sample so we can reproduce the issue? Without it is hard to guess where the problem is.

Best regards,
Sandra

[2020-09-30 10:49] damienlo commented on #211
I will retest with the latest version. If the issue persist I will upload a sample project and reopen this Issue

[2020-09-30 10:49] #211 closed

[2020-10-01 08:12] SimonRolin opened #228 "Accept only Belgium ID Card and Resident ID"
Hi,

I'm trying to figure out how to only accept Belgian ID Card and Resident ID with the BlinkIdCombinedRecognizer ?

Thanks a lot in advance !

[2020-10-01 08:21] matvidako commented on #228
Hi,

you can set a [ClassFilter](https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/generic/BlinkIdCombinedRecognizer.html#setClassFilter-com.microblink.entities.recognizers.blinkid.generic.ClassFilter-).

You'll get a callback with `ClassInfo` object, just check its type and country.

[2020-10-01 08:47] #228 closed

[2020-10-08 08:08] ahshingx95 opened #229 "Is BlinkIdCombinedRecognizer able to set Scan Front Side Only?"
Hi

I was trying to use BlinkIdCombinedRecognizer to scan Malaysia MyKad, it has both front and back side, and it works flawlessly. But I wanted to only Scan front side, is there an option to Scan Front Side Only, and skip scan Back Side? I tried using recognizer.setSkipUnsupportedBack(true); but I know this isn't the way. But I don't see any other option. Please advice.

Thanks and Regards,
Shing

[2020-10-08 08:27] mparadina commented on #229
Hi @ahshingx95

For one-side scanning, you can use the BlinkID recognizer (not the Combined recognizer).
This recognizer requires only one side of the supported document to extract the information, while the Combined recognizer requires scanning both sides of the document in order to extract the information.

You can see the differences between the recognizers here:
https://github.com/BlinkID/blin

[2020-10-08 09:27] ahshingx95 commented on #229
Thanks a lot for guidance, it really helps! Much appreciated and thank you!

[2020-10-08 09:27] #229 closed

[2020-10-12 03:01] ahshingx95 opened #230 "BlinkId Recognizer unable to retrieve a Passport Document Number"
Hi,

I was trying to scan a Singaporean Passport found in Google as a test sample, but it doesn't get the Document Number, "K0000000E". I have tried getMrzResult().getDocumentNumber(), result.getVizResult().getDocumentNumber(), and result.getDocumentNumber(). Returns empty.

I have tried on another Passport sample found in Google as well but able to get the Document Number.

This is the link of th

[2020-10-12 08:07] SandraKuzmic commented on #230
Hi @ahshingx95

by default, this field is currently anonymized which means we don't extract it. You can disable anonymization by setting `anonymizationMode` in BlinkIdRecognizer to `AnonymizationMode.None` or `AnonymizationMode.ImageOnly`.

More info about anonymization can be found [here](https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/generic/AnonymizationMo

[2020-10-12 08:17] ahshingx95 commented on #230
Thank you for your reply, I have received your email too. It works with **AnonymizationMode.None**. Thanks!

[2020-10-12 08:17] #230 closed

[2020-10-20 09:40] rizwanjillani opened #231 "InvalidLicenseKeyException"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

**This entity is not allowed by currently active license!**
---

### Description

Issue description goes here.

Please try to provide steps to reproduc

[2020-10-20 10:01] mparadina commented on #231
Hi @rizwanjillani

The "_This entity is not allowed by currently active license!_" exception triggers when you've implemented a feature that has not been enabled in the license key you are currently using in your project.

I suggest contacting us directly at support@microblink.com so that we can inspect your license key and get a more detailed view of the issue.

Regards,
Milan

[2020-11-05 06:57] Robotrator opened #232 "BLINKIDCOMBINEDRECOGNIZER showing null results after successful Scan"
Hello, I am trying to scan my National Card. in your provided sample code, it works absolutely fine and I get complete details of my card. Now when I tried to integrate the code with my application. Firstly there was an invalid license key exception, then I face in .mblic file of assets. But somehow I found the solutions from previously asked questions on this platform.

Currently, the application

[2020-11-05 09:12] SandraKuzmic commented on #232
Hi @NumanGillani-jackys

can You send us Your minimal sample app where we can reproduce this issue?

Best regards,
Sandra

[2020-11-05 11:13] NumanGillani-jackys commented on #232
Yes sure, I'm sharing the WeTransfer Link of Source Code. Kindly go through this. This App I created for you, and found the same issue. Also it is taking some time to load camera, in your Github, camera opens so quickly

Also I don't want to Scan back side of Card, so just front side and that's enough. is that possible? How I can do this in below project?

https://we.tl/t-ytHR5IkY2m

[2020-11-05 12:39] SandraKuzmic commented on #232
Hi @NumanGillani-jackys

regarding scanning just one side, You could use [BlinkIdRecognizer](https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/generic/BlinkIdRecognizer.html) instead BlinkIdCombinedRecognizer.

Also, I checked the sample You sent, I did get results for scanning a couple of different documents, but they are not visible due to background/text colo

[2020-11-13 13:12] SimonRolin opened #233 "Picture quality"
Hi,

We have implemented the latest version of blinkid and rollout our app in production about a week ago. Our use case is somehow special as a backend ocr is used after the mobile one.
The quality of the picture received by the backend doesn't seem to be enough and I was wondering if it would be possible to get a better image quality ?

I'm already setting the fullDocumentImageDpi to 400 and enab

[2020-11-13 15:14] matvidako commented on #233
Hi,

if you enable high res success frame capture you'll get image at maximum supported camera resolution.
Your problem might be that you are enabling it but not actually using the correct image.
You can check how to use high res images in our [images sample app](https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/BlinkID-ImagesSample/src/main/java/com/microblink/blinkid/MainActiv

[2020-11-14 10:03] SimonRolin commented on #233
Thanks a lot for your reply @matvidako .

Could you tell me if there is an option to get the picture with a frame around the id card ?

Thanks in advance !

[2020-11-15 06:48] Robotrator opened #234 "How to use External Camera for Scan"
I am running the project on my Robot which has two Cameras. It is accessing default camera but I want to switch the preview to the other Camera. From where I can change the Camera, which activity for camera preview?

RecognizerBundleResultActivity.java & BaseResultActivity.java, these two files I explored for Switching Camera but it seems no camera activity there.

Can you please assist in this?

[2020-11-16 08:17] i1E commented on #234
Hi @NumanGillani-jackys,

you can set camera type by using [BlinkIdUISettings.setCameraSettings](https://blinkid.github.io/blinkid-android/com/microblink/uisettings/UISettings.html#setCameraSettings-com.microblink.uisettings.CameraSettings-) method.

CameraSettings.Builder has method [setType](https://blinkid.github.io/blinkid-android/com/microblink/uisettings/CameraSettings.Builder.html#setType-c

[2020-11-16 11:23] matvidako commented on #233
Hi,

we don't support frame around the id card.

If you just need cropped document image, you can try increasing camera preview resolution to `VIDEO_RESOLUTION_2160p` or `VIDEO_RESOLUTION_MAX_AVAILABLE`, configured via `setCameraSettings` UISettings method.
Increasing preview resolution might cause performance issues on some devices but it will increase the quality of full document image.

The alt

[2020-11-23 07:16] SimonRolin commented on #233
Hi @matvidako ,

Thanks for your answer. Do you have a sample of using VIDEO_RESOLUTION_2160p or VIDEO_RESOLUTION_MAX_AVAILABLE ?

Also, we receive on our backend files like this one :
![Front_Raw (4)](https://user-images.githubusercontent.com/5501874/99936682-fe83e100-2d63-11eb-8a3b-f12f3f80ecf6.jpeg)

How can we avoid this ? We are really not looking for speed, we only want to have eid card in t

[2020-11-23 08:43] matvidako commented on #233
Hi,

you can update preview resolution like this:
[code]

As for the incorrect cropping, we're constantly working on improvements. It would be helpful if you also have full camera frame, so that we can check what could be causing the issue.
To get full camera frame, you can either enable high res frame, or wrap your recognizer inside `SuccessFrameGrabber`, you can see how to do both in our [images

[2020-12-16 12:49] JacintaSantos opened #237 "Error autofocus"
I am using blinkIDRecognizer for citizen card data extraction. The webcam I am using is the following: Logitech hd pro webcam c920.
This webcam has autofocus however when I try to use it in my application an error appears saying that this feature is not supported on camera without autofocus.

What will be the problem?

BlinkID version: 5.8.0

Device model: p212_9377

Device Android version: 7.1.2

[2020-12-17 07:51] mparadina commented on #237
Hello @JacintaSantos

Thank you for waiting for our response.

You should check if the external camera actually triggers when you start the scanning process.

Within the SDK, there is a method from which you can modify the camera settings, called `CameraSettings`​.
From these settings, you can change the `CameraType`​.
You can choose between three options: `CAMERA_BACKFACE`, `CAMERA_FRONTFACE`, `C

[2020-12-17 12:59] JacintaSantos commented on #237
We've already tried all three options and still don't recognize the webcam.
Just to confirm, where should I put the sample code?

Thanks a lot!

[2020-12-17 14:10] mparadina commented on #237
Hi @JacintaSantos

If you are using the sample application, you can see that we are setting the `UISettings` on the `onScanButtonClick`.

Link to what I am referring to (from the `aMinimalSample` sample):
https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/BlinkID-aMinimalSample/src/main/java/com/microblink/blinkid/MainActivity.java#L35

You should place the `CameraSettings` there

[2021-01-20 13:55] samirpramanik opened #238 "Need the store-app like line animation in scan screen in BlinkID-CustomCombinedSample"
### Description

I am using BlinkID-CustomCombinedSample project and wish to customize the overlay with a scan animation that is similar to the one that is used in your store app BlinkID(the blue line animator). So, is there any component that I can reuse in my custom activities to have the same look and feel over the recognizer or do I have to create these on my own?

### Environment Details

**B

[2021-01-21 03:55] techboycr commented on #237
I am having the same issue with the exact same camera.

Is there further information regarding this topic??

[2021-01-21 12:24] damienlo opened #239 "USDL / StateId support for BlinkIdCombinedRecognizer"
### Description

Hello we started seeing support from BlinkIdCombinedRecognizer for USDL and State ID.
After running multiple tests here is what I was able to scan:

**USDL**
Real document  : Oklahoma  -> OK
Photo : Delaware -> OK
Photo : Georgia --> OK
Photo : Montana -> cannot scan front
Photo : Florida --> cannot scan back
Photo : Texas --> cannot scan back
Photo : Washington --> OK
 Photo : In

[2021-01-22 16:38] mparadina commented on #238
Hi @samirpramanik

Thank you for waiting for our response.

Regarding the UI used in the BlinkID demo application, it is called the [BlinkID UI](https://github.com/BlinkID/blinkid-ui-android).

However, it has been deprecated since we used to have document-specific recognizers so the BlinkID UI helped you set them up correctly.
In version 5 we have one recognizer, BlinkID (Combined) Recognizer, th

[2021-01-24 15:15] samirpramanik commented on #238
Hi @mparadina

Actually my current production app has the same UI as BlinkID UI, and I wish to continue with the same UI for consistency. Therefore, is there any way to achieve this with the latest Blink ID sdk? Any overlay or layout file that can be customized for the same look and feel as Blink ID UI?

Regards,
Samir

[2021-01-25 14:27] samirpramanik opened #240 "How to differentiate scan document"
### Description

We are using your sample - BlinkID-CustomCombinedSample and the recognizer - BlinkIdCombinedRecognizer. We understand that this is a common recognizer for all documents, but we wish to restrict the recognizer to scan a specific type of document. Can this be achieved using any filters? For example while scanning passport, it should not recognize id card mrz.

[2021-01-26 10:00] souheib93 opened #241 "Extract information from Address"
I want to extract information from Address such as :

- Street
- House Number
- Zip Code
- City

Is there any possibility to do that ?

BlinkIdCombinedRecognizer.Result offer that the full address

Thank you for your help

[2021-01-26 11:50] mparadina commented on #240
Hi @samirpramanik

You can filter which document you want to scan with the `classInfo` feature with the BlinkID recognizer.

With this feature, you can get the document type, country, and region.

More information here:
https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/generic/BlinkIdCombinedRecognizer.html#setClassFilter-com.microblink.entities.recognizers.blin

[2021-01-26 12:16] mparadina commented on #241
Hi @souheib93

Thank you for waiting for our response.

Currently, with the BlinkID recognizer, we return the address field as one piece of information which contains all of the information you've mentioned above.
In order to separately extract the mentioned information, you would need to use your own parsing logic.

Just to double-check, which documents are you scanning?

Let me know if you have

[2021-01-26 12:41] souheib93 commented on #241
Hi @mparadina

Thank you for your reply.

I am scanning various documents, then we will have different addresses format
that's why i asked if you offer that.

Thank you for the information

[2021-01-26 13:11] mparadina commented on #239
Hi @damienlo

Thank you for waiting for our response.

Just to double-check, regarding the term 'photo', are you scanning images of real documents or images from the internet?
Are you scanning them from a monitor screen?

Also, would you mind giving us more details regarding the issues when scanning the documents?
In cases where you can not scan the front/backside of documents, do you get any cert

[2021-01-26 13:26] mparadina commented on #241
Hi @souheib93

Yes, as mentioned before, all of the address information that gets scanned and extracted can be returned with the [getAddress](https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/generic/BlinkIdRecognizer.Result.html#getAddress--) method in the BlinkID's result.

Depending on the scanned document, the information returned in the results (for instanc

[2021-01-26 13:27] damienlo commented on #239
Hi @mparadina

By photo I kind of mean both.
For some states we have photo of real documents and for some others we simply have internet images of them

Yes

I've been running all the test on our integrated version of blink. it's based on "BlinkId-CustomCombinedSample" project of yours.
When I say **cannot scan front**  it means that `MetadataCallbacks().setFirstSideRecognitionCallback` was never

[2021-01-27 10:15] mparadina commented on #237
Hi @techboycr

Just to confirm, you've already tried modifying the `cameraSettings` and setting the camera type to FRONT/BACK/DEFAULT to check if the SDK did detect the camera?

Also to add, there is the second option with which you can use our [Direct API](https://github.com/BlinkID/blinkid-android#-direct-api) method of scanning, where you can directly send frames that are taken with the camera

[2021-01-27 11:19] mparadina commented on #239
Hi @damienlo

Thank you for the detailed response.

Regarding the images, I strongly recommend trying out, if possible, to test the SDK on real samples since it is trained on real documents.
The samples found on the internet can sometimes be in an invalid format or have some misplaced information when comparing it to the real document or could have some pieces of information missing.

Also, scanni

[2021-02-01 10:18] mparadina commented on #238
Hi @samirpramanik

Thank you for waiting for our response.

If your use-case only considers using the BlinkID UI, this UI is open-source, so you can adjust it to your needs and replace the country-specific recognizers with the BlinkID/BlinkID Combined recognizer.

You can find the BlinkID UI here:
https://github.com/BlinkID/blinkid-ui-android

However, as I've mentioned in my previous response, we

[2021-02-07 05:18] samirpramanik commented on #238
Thank you.

[2021-02-07 05:18] #238 closed

[2021-02-18 11:03] souheib93 opened #242 "Non Latin characters"
Hello,

is there a way to filter non latin characters documents that is being scanned  ?

Best,
Souheib

[2021-02-19 09:17] anjapenic commented on #242
Hello @souheib93,

Which non-latin characters are you reffering to?

Also, which documents, that contain the mentioned non-latin characters, are you trying to scan?

We don't support non-latin characters at the moment, other than the Arabic numeral system, however, we can check if the mentioned non-latin characters you’re interested in are on our roadmap and let you know if we’ll support them in t

[2021-03-25 16:59] radimmotycka opened #244 "Getting nulls when trying to scan Document with BlinkID-aMinimalSample"
Pls guys would you advise?
I am scanning my Passport with BlinkID-aMinimalSample getting to onScanSuccess but all images are null :(
Would you pls advise?

Pls see attachement.

<img width="1413" alt="Screen Shot 2021-03-25 at 5 54 15 PM" src="https://user-images.githubusercontent.com/65539674/112512529-c03f1280-8d93-11eb-8186-13cc89aeb09e.png">

[2021-03-26 12:22] anjapenic commented on #244
Hello @radimmotycka,

After initializing the recognizer, have you set the setReturnFullDocumentImage and setReturnFaceImage to true? If not, here's how to do it:
[code]

Please try it out and let us know if it helped!

Regards,
Anja

[2021-03-30 10:12] anjapenic commented on #214
Hi @phanikumar560,

Since this issue is inactive, we're closing it. If you need any further assistance feel free to open a new issue or contact us at support@microblink.com.

Regards,
Anja

[2021-03-30 10:12] #214 closed

[2021-03-30 10:23] anjapenic commented on #217
Hello @phanikumar560,

Since this issue is inactive, we’re closing it. If you need any further assistance feel free to open a new issue or contact us at support@microblink.com.

Regards,
Anja

[2021-03-30 10:23] #217 closed

[2021-03-30 10:26] anjapenic commented on #220
Hi @MKevin3,

Since this issue is inactive, we're closing it. If you need any further assistance feel free to open a new issue or contact us at support@microblink.com.

Regards,
Anja

[2021-03-30 10:26] #220 closed

[2021-03-30 10:58] anjapenic commented on #215
Hello @passid2019 and @hossein114,

We wanted to let you know that the issue was fixed in v5.6.0, we've had several releases since then and would like to know if you tried testing the newest version - v5.10.0 and seeing if the scanning process works as expected?

Regards,
Anja

[2021-03-30 12:42] anjapenic commented on #231
Hi @rizwanjillani,

Since this issue is inactive, we're closing it. If you need any further assistance feel free to open a new issue or contact us at support@microblink.com.

Regards,
Anja

[2021-03-30 13:33] anjapenic commented on #234
Hi @Robotrator,

Since this issue is inactive, we're closing it. If you need any further assistance feel free to open a new issue or contact us at support@microblink.com.

Regards,
Anja

[2021-03-30 13:33] #234 closed

[2021-04-10 11:40] passid2019 commented on #215
@anjapenic We have pumped our version to v.5.6.0 quite a while ago and we haven't noticed it since. So i believe everything is working as expected.

[2021-04-13 03:14] Dhiraj-kumar-kumawat opened #246 "No virtual method areCameraPixelsLandscapeLeft()Z in class Lcom/microblink/view/BaseCameraView;"
BlinkID version:5.10.0

### Description
![Capture](https://user-images.githubusercontent.com/18437101/114491089-9c088000-9c33-11eb-94d9-922ef745000a.PNG)

I have implemented the below dependencies and found the same BaseCameraView class in multiple dependencies.

implementation('com.microblink:blinkid:5.10.0@aar') {
        transitive = true
    }

    implementation project(':LibBlinkReceiptCamer

[2021-04-14 08:04] anjapenic commented on #246
Hello @Dhiraj-kumar-kumawat,

It is currently not possible to combine both BlinkID and BlinkReceipt in one app. We are aware of the issue and are working towards making it possible in BlinkID v6 which is scheduled for release this summer.

We will make sure to reach out when it's released.

Best regards,
Anja

[2021-04-29 10:29] paaber opened #247 "sides done match for nigerian driver's license"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

Issue description goes here.

Please try to provide steps to reproduce the issue, or minimal code sample. It will help us resolve

[2021-04-29 10:34] paaber commented on #247
I have been on this for a while and after scanning both sides the BlinkIdCombinedRecognizer indicates that data from the front side of the document doesn't match the data on the backside of the document. I have gone as far as downloading the app from the play store that also gives the same response

[2021-04-29 11:24] anjapenic commented on #247
Hi @paaber,

Are you scanning a real document or a fake sample (for example found on the internet)?

Regards,
Anja

[2021-04-29 11:37] paaber commented on #247
Thank for reaching out
An actual document,  I have the license card with me

On Thu, 29 Apr 2021, 12:25 anjapenic, ***@***.***> wrote:

[2021-04-29 13:52] paaber commented on #247
What do you think I am doing wrong, I didn't have this issue with Verizon 4
so what exactly is the problem this time?

On Thu, 29 Apr 2021, 12:37 John Emma, ***@***.***> wrote:

[2021-04-29 16:04] paaber commented on #247
So I decided to just grab the image from the front page with  BlinkIdRecognizer and result.getEncodedFaceImage() returns nothing  I need help please

[2021-04-30 08:13] anjapenic commented on #247
Hi @paaber,

There is a way to disable data matching so that it doesn't match front and back side data,  here's a code snippet how:
[code]
As for getting the image of the front side of the document, if you want to get the face image with result.getEncodedFaceImage(), you should set .setEncodeFaceImage(true) after setting your recognizer, like this:
[code]

This will return only the face image, if

[2021-04-30 15:25] paaber commented on #247
thanks, a lot Anja, i would follow this up

[2021-06-02 07:23] anjapenic commented on #215
Hello @passid2019,

Thanks for the feedback, in that case, we're closing this issue. If you need any further assistance feel free to open a new one or contact us at support@microblink.com.

Best regards,
Anja

[2021-06-02 07:23] #215 closed

[2021-06-02 07:57] anjapenic commented on #221
Hello @phanikumar560,

Since this ticket is inactive for some time, we're closing it. If you need any further assistance, feel free to open a new one or contact us at support@microblink.com.

Best regards,
Anja

[2021-06-02 07:57] #221 closed

[2021-06-02 08:00] anjapenic commented on #232
Hello @Robotrator,

Since this issue is inactive for some time, we're closing it. If you need any further assistance, feel free to open a new one or contact us at support@microblink.com.

Best regards,
Anja

[2021-06-02 08:00] #232 closed

[2021-06-02 08:19] anjapenic commented on #239
Hello @damienlo,

Just wanted to make a quick follow-up here.

Have you tried scanning real documents? If so, have you experienced further issues with them?

Best regards,
Anja

[2021-06-02 13:21] anjapenic commented on #240
Hello @samirpramanik,

Just wanted to make a follow-up here, is there anything else we could assist with?

Best regards,
Anja

[2021-06-08 08:12] anjapenic commented on #247
Hello @paaber,

Just wanted to make a quick follow-up here, have you had the chance to try the solution we've provided? If so, did you find it solved the issues you were experiencing?

Regards,
Anja

[2021-06-08 08:25] anjapenic commented on #244
Hello @radimmotycka,

Just wanted to make a quick follow-up here.

Have you tried the solution we've provided? Did you find it solved the issue you were experiencing?

Best regards,
Anja

[2021-06-08 11:24] paaber commented on #247
Yes I was able to solve the issue, I am grateful for the help

On Tue, 8 Jun 2021, 09:12 anjapenic, ***@***.***> wrote:

[2021-06-27 20:21] #239 closed

[2021-06-28 02:58] Lijing11 opened #249 "Got ANR when call method terminate(),when the network is not very well."
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

Issue description goes here.

Please try to provide steps to reproduce the issue, or minimal code sample. It will help us resolve

[2021-06-28 08:31] anjapenic commented on #249
Hi @Lijing11,

Could you please share a bit more info on when does this happen, which SDK version are you using, and on which device is it occurring?

Best regards,
Anja

[2021-06-30 10:52] Elswah opened #250 "offline support (private network)"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

get dialog network error while using lib on private network
how to solve this problem

### Environment Details

**BlinkID version

[2021-06-30 11:12] anjapenic commented on #250
Hello @Elswah,

The SDK requires an internet connection in order to properly work in order to validate whether or not the entered license key is valid. It communicates with our server in order to check its validity.

Keep in mind that the SDK only needs an internet connection to check if the license key is valid. The document information extraction still happens offline, on the device itself.

Onc

[2021-07-01 06:41] Elswah commented on #250
i'm searching for completely offline solution ,also after purchase licence i will not connect to internet
did you have any solution for my case
thanks

[2021-07-01 08:21] anjapenic commented on #250
Hi @Elswah,

Could you please contact our Sales team at sales@microblink.com? They can offer you more info on the possibility of a completely offline solution.

Best regards,
Anja

[2021-08-03 23:47] g522811 opened #252 "Network error on startup"
Before opening an issue, check that you are using the latest version of the BlinkID SDK.

Also, make sure your issue isn't on [the list of common problems.](https://github.com/BlinkID/blinkid-android#-frequently-asked-questions-and-known-problems)

---

### Description

I'm integrating BlinkID into an Android app by following the [README here](https://github.com/BlinkID/blinkid-android). I'm able

[2021-08-04 07:10] anjapenic commented on #252
Hello @g522811,

Could you please try adding to `AndroidManifest.xml`​ both of these permissions:

[code]

Let us know if it helped!

Best regards,

Anja

[2021-08-04 07:44] g522811 commented on #252
@anjapenic that was 100% my issue. Closing out the ticket. Maybe consider mentioning this in the README? Would've saved me much frustration! :)

[2021-08-04 07:44] #252 closed

[2021-08-23 11:31] hossein114 opened #253 "NullPointerException in scan BlinkIdActivity"
### Description

We got a null pointer exception when scanning an id card.
When the app goes in the background with low memory(that cause killing activity) and returns back to scan activity getting this: 'java.io.File android.content.Context.getFilesDir()' on a null object reference

### Environment Details

**BlinkID version:5.12**

**Device model:A3 2016**

**Device Android version: 7.0**

**Dev

[2021-08-24 09:00] anjapenic commented on #253
Hi @hossein114,

Would you mind sharing how are you setting the license key? Did you follow the steps described here (https://github.com/BlinkID/blinkid-android#performing-your-first-scan) and set the license key before using any other classes from the SDK?

Regards,
Anja

[2021-09-04 18:52] arinobade commented on #237
Hi,
i have a same problem when i build the BlinkId with android emulator in android Studio. BlinkId does not know my computer camera

[2021-09-06 16:35] mariasenosiain opened #255 "Capture preview gets stretched on Samsung Active Tab2 - SM-T395 & Samsung A50 - SM-A505FN"
### Description
Capture preview gets stretched on Samsung Active Tab2 - SM-T395 & Samsung A50 - SM-A505FN, also images returned by the library are stretched. Seems like aspect ration is broken on these devices.
I've checked your [release notes for 5.13.0](https://github.com/BlinkID/blinkid-android/releases/tag/v5.13.0) and there is a mention about a fix for Active Tab2, but not sure if you had inc

[2021-09-07 12:20] anjapenic commented on #255
Hello @mariasenosiain,

Thanks for letting us know and sharing the screenshots, glad to hear you've managed to implement the workaround by forcing camera legacy. We've forwarded this internally and will make sure that the next release includes a fix for the devices you've reported.

Let us know if there's anything we could help with further :)

Best regards,

Anja

[2021-09-07 13:35] anjapenic commented on #237
Hi @arinobade,

We strongly suggest using a device to build the app on instead of the emulator, since the SDK requires a mobile device with a camera with autofocus.

Best regards,

Anja

[2021-09-09 13:41] anjapenic commented on #253
Hi @hossein114,

Just wanted to make a follow-up here and check if you're still experiencing the crash?

Best regards,

Anja

[2021-09-10 17:20] hossein114 commented on #253
Hi
Yes, this crash still report to us in some devices .
Many thanks for your follow-up.
Best regards

On Thu, Sep 9, 2021, 18:11 anjapenic ***@***.***> wrote:

[2021-09-14 08:55] anjapenic commented on #253
Hi @hossein114,

Is the crash occurring only in the Galaxy A3 2016 devices you've mentioned in the first post or are there crashes in other devices as well?

Best regards,
Anja

[2021-09-15 10:50] hossein114 commented on #253
Hi
We have this crash in some other devices also .
We receive this crash in Countly crash report panel.
I produce this crash in A3 2016.
Thanks .

On Tue, Sep 14, 2021, 13:25 anjapenic ***@***.***> wrote:

[2021-09-15 12:41] mohamadbadr commented on #240
I have tried using the class filter, but it still scans a document with class type NONE and country NONE.

however im looking for class type ID only and country egypt

`private val classFilter = object : ClassFilter {
        override fun describeContents(): Int {
            return 0
        }

        override fun writeToParcel(dest: Parcel?, flags: Int) {
            // no-op
        }

[2021-09-16 07:49] anjapenic commented on #240
Hi @mohamadbadr,

Could you please contact us at support@microblink.com so we could inspect your license key and see where's the issue here?

Best regards,
Anja

[2021-09-16 15:17] anjapenic commented on #253
Hi @hossein114,

Could you share with us how are you setting the license key? Did you follow the steps described here (https://github.com/BlinkID/blinkid-android#performing-your-first-scan) and set the license key before using any other classes from the SDK?

Also, which other devices are you experiencing crashes on?

Best regards,
Anja

[2021-09-16 18:32] hossein114 commented on #253
Many thanks for your reply.
At first need to say that we have this issue in some devices, so license
setup is correctly done.
As you can see the crash report, this issue was happens on memry access and
it got a null pointer exception.
As your source code was obfuscated we can't debug any more .
Thanks .

On Thu, Sep 16, 2021, 19:47 anjapenic ***@***.***> wrote:

[2021-09-20 09:12] anjapenic commented on #253
Hello @hossein114,

We have checked in our code and this exception is thrown only if the license key has not been set before starting the scan activity. Error message should be better for that case and we will fix that.

So let me explain better what is happening here.

Suppose you set the license key in the application class. In that case, like described here, you can be sure that the license key

[2021-09-22 07:25] hossein114 commented on #253
Hi @anjapenic
As you say, an error message of the exception in the context of getFilesDir is very confusing.
Ok, we will do as you say and check the future result on the user's phone.
Many thanks.

[2021-09-22 09:42] anjapenic commented on #253
Hello @hossein114,

Agreed, we'll fix the error message so it's more clear what's causing the crash. Keep us updated on your progress and if you need any further assistance, feel free to ask.

Best regards,
Anja

[2021-09-22 11:18] hossein114 commented on #253
@anjapenic  In our project, we get the licence key from the server, so we cant to set the licence in the application class.
Can you fix this issue in the library source? when the user set the licence at first, don't need to set it again so the crash not occurred.
Thanks.

[2021-09-23 08:46] anjapenic commented on #253
Hi @hossein114,

Unfortunately, we cannot do anything about that in the SDK. It is technically not possible without introducing security problems. When the application is killed and recreated, it is opened again in an entirely different process, which does not communicate with the previous process where the license key was set.

The best option is to set the license key in the application class. T

[2021-09-26 15:57] shikha1992 opened #256 "UI customisation"
I want to customize the screen. Have to remove flash icon at top and progress bar at middle of screen.
Can you please help with that

### Environment Details

**BlinkID version:**com.microblink:blinkid:5.13.0@aar

**Device model:** One plus 7 pro

**Device Android version:** 10

**Device ABI (processor architecture, e.g. ARMv7):**

[2021-09-28 14:20] culoi commented on #256
Hello @shikha1992

Please check out our Sample folder and [CustomUI ](https://github.com/BlinkID/blinkid-android/tree/master/BlinkIDSample/BlinkID-CustomUISample)sample for the customization of the UI in the BlinkID.

Also, the relevant article can be found here: https://github.com/BlinkID/blinkid-android#-custom-ux-with-recognizerrunnerview

Hope it helps.

Regards,

Ivan

[2021-10-01 09:04] hassammughal opened #257 "Unable to import MicroblinkSDK in MainActivity"
### Description

Greetings,
Sorry for this, I am facing the issue of the Microblink SDK import in Android. It is not being imported. I have performed the steps mentioned on this link: https://github.com/BlinkID/blinkid-android

To reproduce this, simply create a new Android Studio project with empty activity and Java/Kotlin as the language.
In build.gradle add the following:

buildscript {
    rep

[2021-10-01 10:47] shikha1992 commented on #256
I picked Custom-Combined Sample from SampleApp.
I am able to customise the screen but on scan result is empty. No data.

`BlinkIdCombinedRecognizer.Result result = mRecognizer.getResult();
            if (result.getResultState() == Recognizer.Result.State.Valid) {}`

here result status returned is valid but when trying to get data from result its empty. Can you please help with that

[2021-10-01 11:07] #256 closed

[2021-10-01 12:39] mparadina commented on #257
Hi @hassammughal

Would you mind sharing the entire `build.gradle`?
To be exact, where you've placed the `maven { url 'https://maven.microblink.com' }`?

Milan

[2021-10-05 01:14] hassammughal commented on #257
Hello @mparadina,

The code in build.gradle is as follows:

[2021-10-05 01:14] hassammughal commented on #257
// Top-level build file where you can add configuration options common to all sub-projects/modules.
buildscript {
    repositories {
        google()
        mavenCentral()
        maven { url 'https://maven.microblink.com' }
    }
    dependencies {
        classpath "com.android.tools.build:gradle:7.0.2"

        // NOTE: Do not place your application dependencies here; they belong
        // in

[2021-10-05 01:15] hassammughal commented on #257
The build.gradle(:app) is as follows:

plugins {
    id 'com.android.application'
}

android {
    compileSdk 30

    defaultConfig {
        applicationId "com.oneheartsmart.idverificationdemo"
        minSdk 23
        targetSdk 30
        versionCode 1
        versionName "1.0"

        testInstrumentationRunner "androidx.test.runner.AndroidJUnitRunner"
    }

    buildTypes {
        release {

[2021-10-05 08:14] anjapenic commented on #257
Hello @hassammughal,

Is the `build.gradle` you've sent the entire code?

Could you try following the steps and reproducing the `build.gradle` as it is here - [https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/build.gradle](https://github.com/BlinkID/blinkid-android/blob/master/BlinkIDSample/build.gradle)?

Best regards,
Anja

[2021-10-05 08:37] hassammughal commented on #257
Hello, @anjapenic, it is the complete source code. Followed the tutorial as it is.

[2021-10-05 08:48] hassammughal commented on #257
@anjapenic I also tried with the gradle file as you mentioned, but doesn't work and displays following error:
Build file 'C:\Users\user\AndroidStudioProjects\IDVerificationDemo\build.gradle' line: 14

A problem occurred evaluating root project 'IDVerificationDemo'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.ap

[2021-10-05 12:10] anjapenic commented on #257
Hello @hassammughal,

Could you share with us line 14 where the error occurs?

Also, could you please try setting `maven { url 'https://maven.microblink.com' } ` here [https://github.com/BlinkID/blinkid-android/blob/afd565818453756bae32a62e345db54bf5fbbf33/BlinkIDSample/build.gradle#L12](https://github.com/BlinkID/blinkid-android/blob/afd565818453756bae32a62e345db54bf5fbbf33/BlinkIDSample/build.gr

[2021-10-06 01:38] hassammughal commented on #257
I was able to resolve this issue by adding maven { url 'https://maven.microblink.com' } in repositories in settings.gradle file.

[2021-10-06 01:38] #257 closed

[2021-10-06 03:03] hassammughal opened #259 "Korean ID Card Information Extraction"
There is not enough information being extracted from Korean ID Card. The good thing was that it does hide the Registration Number, but it doesn't extract the other information such as Name, Address, Date of expiry. In addition the registration number should be shown like this: 920301-4****** in the personal number field.

[2021-10-18 10:04] mircea-yoti opened #260 "Installation fails on Android SDK 31"
### Description

After updating the Android compile and target SDK versions of our app to 31, installation fails with the following error:

_Installation failed due to: 'Failed to commit install session 1785225438 with command cmd package install-commit 1785225438. Error: -127: Package {our.package} attempting to declare permission android.permission.FLASHLIGHT in non-existing group android.permis

[2021-10-18 15:07] Phantoms97 opened #261 "Unable to open license file!"
---

### Description

I tried to create a demo version of blinkId using a trial key.

I created the key and called put it seems there is issue opening it

        MicroblinkSDK.setLicenseFile("//assets/license.key", this);
here how I called it

### Log file

 com.microblink.licence.exception.InvalidLicenceKeyException: Unable to open license file!
at android.app.ActivityThread.performLaunchActivit

[2021-10-19 07:20] #261 closed, assigned to nobody

[2021-10-19 08:25] anjapenic commented on #260
Hello @mircea-yoti,

Thanks for reaching out with the details. We've forwarded this to the dev team and will let you know when we get more info on the fix. In the meantime, you can revert the compile version to 30 and try setting the target version to 31.

Best regards,
Anja

[2022-01-19 14:00] francislagares opened #263 "cordova build android fails"
### Description

After upgrading to v5.15.0 cannot generate apk.

1. cordova prepare android
2. cordova build android

Throws me:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:processDebugResources'.

     /home/user/.gradle/caches/transforms-2/files-2.1/42f4abcd1335f10590e79520ce40d264/core-1.7.0/res/values/values.xml:105:5-114:25: AAPT: error: reso

[2022-01-20 14:37] mparadina commented on #263
Hi @francislagares

The mentioned issue could be connected with the `targetSdkVersion`
You can try placing the target SDK version to 31.

In your Cordova project, you can change this by going to the `config.xml` file.
After the line `<platform name="android">`, you can add:
`<preference name="android-targetSdkVersion" value="31" />`

Let me know if this helped.

[2022-01-20 15:56] francislagares commented on #263
Hi @mparadina

Well I just did what you suggested, now I get another one:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:mergeDebugResources'.

     Required by:
         project :app

[2022-02-25 21:18] EhabSalah opened #267 "BlinkCardRecognizer & BlinkCardActivity are not found!"
How to scan credit card through this SDK?!

[2022-02-28 10:56] MBrizic01 commented on #267
Hi, EhabSalah, thank you for reaching out!
BlinkID is an SDK that is used for scanning and extracting information from identity documents, whilst BlinkCard SDK enables you to perform scans of various credit or payment cards in your app.

As you posted your question under the BlinkID thread I just wanted to clarify that you can’t scan credit cards using this SDK.
 If you need both of them, you can

[2022-03-06 11:47] YassineHalloufi opened #268 "Android"

[2022-03-06 11:48] YassineHalloufi opened #269 "BlinkID Android"
https://github.com/BlinkID/blinkid-android/issues/268

[2022-03-07 08:51] anjapenic commented on #268
Hi @YassineHalloufi,

Is there anything we could help with regarding BlinkID Android SDK? If you have any questions, please feel free to ask!

Best regards,

Anja

[2022-03-09 18:19] Sevastyan opened #270 "Expose `com.microblink.view.recognition.DetectionStatus`"
### Description

I am using a direct API for recognition and want to get callbacks with `com.microblink.view.recognition.DetectionStatus`. This is not possible at the moment.

Please, expose it.

[2022-03-10 08:55] anjapenic commented on #270
Hi @Sevastyan,

The [DetetectionStatus](http://blinkid.github.io/blinkid-android/com/microblink/view/recognition/DetectionStatus.html) is used with live camera scanning and can't be used when sending pictures to DirectAPI. Could you share with us what exactly would you like to detect so we could check if there's another solution we could suggest?

Best regards,
Anja

[2022-03-10 10:28] Sevastyan commented on #270
@anjapenic Thank you for a prompt response. I aim to develop a typical universal document scanner (using combined `BlinkIdCombinedRecognizer`, expected documents will be passports, ID cards, drivers licenses and visas) and want to have a bit more live feedback for the user. You already expose `onGlare` callback, so why there is no callback for `DetectionStatus`, which seems to be from the same cat

[2022-03-10 14:26] anjapenic commented on #270
Hi @Sevastyan,

You can check `[RecognitionSuccessType](https://blinkid.github.io/blinkid-android/com/microblink/recognition/RecognitionSuccessType.html)` and `[ProcessingStatus](https://blinkid.github.io/blinkid-android/com/microblink/entities/recognizers/blinkid/generic/ProcessingStatus.html)` if that works for you. As stated above, DetectionStatus is used when SDK is detecting documents during

[2022-03-10 14:47] Sevastyan commented on #270
@anjapenic I don't think you understand my question. Why there is `onGlare` callback and no callback for "camera too near" situation? Semantically, these two are of the same category and I think `MetadataCallbacks` should contain the same information as `DetectionStatus` provides. Otherwise, you are forcing developers to use your solution with your own camera imagery management, undermining your o

[2022-03-13 10:04] #267 closed

[2022-03-14 14:39] premedios-i9 commented on #263
@francislagares install android with the following command:

`cordova platform add android@10`

with that, you get no errors on build. problem solved.

[2022-03-29 13:29] Sevastyan opened #272 "Camera view has no children?!?"
### Description

I'm tying to use `RecognizerRunnerView` with custom `LifecycleOwner`, but there is no camera preview (just a white screen) and the following message:

[code]

What is wrong?

[2022-03-29 14:34] anjapenic commented on #272
Hi @Sevastyan,

Could you please give us a bit more info on how you've implemented RecognizerRunnerView into scan activity?

Regards,
Anja

[2022-04-01 11:32] Sevastyan opened #273 "How to change to front-facing camera using `RecognizerRunnerView`?"

[2022-04-05 07:11] anjapenic commented on #273
Hi @Sevastyan,

Use [http://blinkid.github.io/blinkid-android/com/microblink/view/recognition/RecognizerRunnerView.html#prepareCameraSettings(com.microblink.hardware.camera.CameraSettings)](http://blinkid.github.io/blinkid-android/com/microblink/view/recognition/RecognizerRunnerView.html#prepareCameraSettings(com.microblink.hardware.camera.CameraSettings)) to prepare CameraSettings and [set Camera

[2022-04-05 08:36] Sevastyan commented on #273
@anjapenic But that method is `protected` and `RecognizerRunnerView` is `final`. How do I call it?

[2022-04-06 13:32] anjapenic commented on #273
@Sevastyan you can use this method - http://blinkid.github.io/blinkid-android/com/microblink/view/BaseCameraView.html#setCameraType(com.microblink.hardware.camera.CameraType)

[2022-04-06 13:58] #273 closed

[2022-04-06 13:58] #272 closed

[2022-04-06 13:58] #270 closed

[2022-04-08 10:31] jolsondc opened #275 "Blink id scan screen crashes for this."
Fatal Exception: java.lang.IllegalStateException: Method must be called after calling start()
       at com.microblink.view.recognition.RecognizerRunnerView.reconfigureRecognizers(RecognizerRunnerView.java:75)
       at com.microblink.fragment.overlay.blinkid.BlinkIdOverlayController.IlIllIlIIl(BlinkIdOverlayController.java:22)
       at com.microblink.fragment.overlay.blinkid.BlinkIdOverlayContro

[2022-04-13 08:56] anjapenic commented on #275
Hi @jolsondc,

Could you please share with us how did you implement the SDK? Also, it would be great if you could sens us a code snippet of your scanning activity.

Best regards,
Anja

[2022-10-24 15:31] damienlo opened #283 "USDL - Louisiana - Doesn't OCR/Decode the PDF barcode at the back of the card"
### Description

Hello, after multiple testing on both iOS and Android, using either the SDK or blink's sample app. We noticed that the back of the Louisiana US Driving license is not OCR/decoded. We only get the info from the front of the card.

### Environment Details

**BlinkID version:** 5.18.0

**Device model:** Samsung S8 / Iphone 13 mini

**Device Android version:** 9.0

### Additional info